<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@test.cdl3cqobq0vs.us-east-2.rds.amazonaws.com:1521:ORCL</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">260258aaa</property>
        <property name="hibernate.dialect = org.hibernate.dialect.OracleDialect"/>
        <mapping class="JDBC.Lesson6.Task1.Model.Product"/>
        <mapping class="JDBC.Lesson6.Task2.Model.Product"/>
        <mapping class="JDBC.Lesson6.Task3.Model.Product"/>
        <mapping class="JDBC.Lesson7.Model.Hotel"/>
        <mapping class="JDBC.Lesson7.Model.Room"/>
        <mapping class="JDBC.Lesson8.Model.Hotel"/>
        <mapping class="JDBC.Lesson8.Model.Order"/>
        <mapping class="JDBC.Lesson8.Model.User"/>
        <mapping class="JDBC.Lesson8.Model.Room"/>
    </session-factory>
</hibernate-configuration>